
TF-IDF/backup/
TF-IDF/result/tf-idf-lexto/
TF-IDF/result/tf-idf-pyicu/
TF-IDF/result/tf-lexto/
TF-IDF/result/tf-pyicu/
TF-IDF/temp-processing-data/00_url/
TF-IDF/temp-processing-data/01_raw-data/
TF-IDF/temp-processing-data/01_raw-data_backup/
TF-IDF/temp-processing-data/02_parsed-word-data-pyicu/
TF-IDF/temp-processing-data/02_parsed-word-data-lexto/
TF-IDF/temp-processing-data/03_n-gram-data-lexto/
TF-IDF/temp-processing-data/03_n-gram-data-pyicu/
TF-IDF/temp-processing-data/04_tf/
TF-IDF/temp-processing-data/05_merge-csv/

TF-IDF/train-data/
TF-IDF/number_input.txt

TF-IDF/resultss

*.pyc

TF-IDF/resources/PyICU-1.9.3-cp35-cp35m-win_amd64.whl
TF-IDF/classification_bone/data/result.csv
TF-IDF/classification_bone/predict_result.txt
TF-IDF/TF-IDF.rar
