TF-IDF/classification_bone.zip
TF-IDF/backup/
TF-IDF/backup_model
TF-IDF/train-data/
TF-IDF/result/tf-idf-lexto/
TF-IDF/result/tf-idf-pyicu/
TF-IDF/result/tf-lexto/
TF-IDF/result/tf-pyicu/
TF-IDF/temp-processing-data/00_url/
TF-IDF/temp-processing-data/01_raw-data/
TF-IDF/temp-processing-data/01_raw-data_backup/
TF-IDF/temp-processing-data/02_parsed-word-data-pyicu/
TF-IDF/temp-processing-data/02_parsed-word-data-lexto/
TF-IDF/temp-processing-data/03_n-gram-data-lexto/
TF-IDF/temp-processing-data/03_n-gram-data-pyicu/
TF-IDF/temp-processing-data/04_tf/
TF-IDF/temp-processing-data/05_merge-csv/

TF-IDF/train-data/
TF-IDF/number_input.txt

TF-IDF/resultss

*.pyc

TF-IDF/resources/PyICU-1.9.3-cp35-cp35m-win_amd64.whl
TF-IDF/classification_bone/data/result.csv
TF-IDF/classification_bone/predict_result.txt
TF-IDF/TF-IDF.rar


WebLaravel/node_modules
WebLaravel/public/storage
WebLaravel/vendor
WebLaravel/.idea
WebLaravel/Homestead.json
WebLaravel/Homestead.yaml

WebLaravel/bootstrap/compiled.php
WebLaravel/vendor

WebLaravel/build/logs
WebLaravel/build/coverage

WebLaravel/app/tests/_log

WebLaravel/composer.phar

WebLaravel/.DS_Store

WebLaravel/_ide_helper.php

WebLaravel/app/config/packages
WebLaravel/public/packages

WebLaravel/node_modules

WebLaravel/.env
WebLaravel/bootstrap/cache/services.php
WebLaravel/storage/framework/sessions/yI7vdUl5GZsGWd6cOvbCremgXZpp6LhJbwhxOEvm
WebLaravel/storage/framework/views/fcff853ab4977cb94c89dac153f35e3dcfb7d647.php
TF-IDF/result/prediction.csv
