.searchForm{
    /* The search form. */
    background-color:#f9f9fb;
    padding:20px 30px;
    margin:80px 0;
    position:relative;

    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;

    width: 500px;
    margin: 0 auto;

    top: -170px;
}

.try-it:hover {
    color: #1abc9c;
    cursor: pointer;
}

.try-div {
    float: right;
}

.center {
    text-align: center;
}
.demo-intro {
    font-size: 40px;
    display: block;
    color: #fff;
    width: 100%;
    font-family: "Montserrat", arial, sans-serif;
    margin-bottom: .5em;
}

.demo-intro-label {
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    font-family: "Montserrat", arial, sans-serif;
    letter-spacing: 5px;
    margin-bottom: 2em;
    display: block;
}

.text-black{
    color: black;
}

#fh5co-products{
    top:-170px;
    background-color: #e9e9e9;
    padding: 0em 0;
    margin-top: 2em;
}
.fh5co-section-heading{
    margin-bottom: 0px;

}

.example-img{
    height: 50px;
    width: 100%;
}

#fh5co-products{
     border-bottom: none;
}

.btn-try{
    margin-bottom: 0px;
    padding: 10px 20px;
}


#fh5co-hero{
    padding-bottom: 0px;
    padding-top: 0px;
}