.container-left{
    background-color:#f9f9fb;
    padding:15px 30px 30px !important;
    margin-top:80px;
}

.container-right{
    background-color:#ffffff;
    padding:15px 30px 30px !important;
    margin-top:80px;
}

.input-tag{
    margin-left: 15px;
    font-size: 60% !important;
    padding-bottom: .1em !important;
}

.input-textarea{
    width: 100% !important;
    resize: none;
}

.container-all{
    margin-right: auto !important;
    margin-left: auto !important;
}