.container-left{
    background-color:#f9f9fb;
    padding:15px 30px 30px !important;
    margin-top:80px;
    min-height: 200px !important;
}

.container-right{
    background-color:#ffffff;
    padding:15px 30px 30px !important;
    margin-top:80px;
    min-height: 200px !important;
}

.input-tag{
    margin-left: 15px;
    font-size: 60% !important;
    padding-bottom: .1em !important;
}

.input-textarea{
    width: 100% !important;
    resize: none;
    overflow-y:hidden ;
}

.container-all{
    margin-right: auto !important;
    margin-left: auto !important;
}

.hide{
    display: none;
}

.json{
    padding:20px 20px;
    position:relative;
    border-style: solid;
    border-color: #1abc9c;
    border-width: 2px;

    -moz-border-radius:16px;
    -webkit-border-radius:16px;
    border-radius:16px;

    margin: 0 auto 0;
}
